# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
package-lock.json
yarn-error.log

# built contracts
build

# testing
coverage

# production
build
src/contracts

# misc
.DS_Store
.env
npm-debug.log
.truffle-solidity-loader
.node-xmlhttprequest*

# tmp files
~*
.#*
.editorconfig
